<div class="page signupPage">
  <div class="form">
    <h1 class="pageTitle">Sign Up</h1>
    <div id="info-area">
      <form id="signup-form" class="signup-form" name="signupForm" novalidate>
        <div class="form-group" >
            <input id="fullname" name="fullname" type="text" class="primaryInput" placeholder="Full Name" ng-model="signup.user.fullName" required/>
            <p ng-show="signupForm.fullname.$invalid && !signupForm.fullname.$pristine" class="help-block">This field is required.</p>
        </div>
        <div class="form-group">
            <input id="username" name="username" type="text" class=" primaryInput" placeholder="Username" ng-model="signup.user.username" required/>
            <p ng-show="signupForm.username.$invalid && !signupForm.username.$pristine" class="help-block">This field is required.</p>
        </div>
        <div class="form-group">
            <input id="email" name="email" type="email" class="primaryInput" placeholder="Email" ng-model="signup.user.email" required/>
            <p ng-show="signupForm.email.$invalid && !signupForm.email.$pristine" class="help-block">This field is required.</p>
        </div>
        <div class="form-group">
            <input id="phone" name="phone" type="text" class="primaryInput" placeholder="Phone" ng-model="signup.user.phone" required/>
            <p ng-show="signupForm.phone.$invalid && !signupForm.phone.$pristine" class="help-block">This field is required.</p>
        </div>
        <div class="form-group">
            <input id="password" name="password" type="password" class="primaryInput" placeholder="Password" ng-model="signup.user.password" required/>
            <p ng-show="signupForm.password.$invalid && !signupForm.password.$pristine" class="help-block">This field is required.</p>
        </div>
        <div class="form-group">
            <input id="repassword" name="repassword" type="password" class="primaryInput" placeholder="Confirm Password" ng-model="signup.repassword" required/>
            <p ng-show="signupForm.repassword.$invalid && !signupForm.repassword.$pristine" class="help-block">This field is required.</p>
            <p ng-show="signup.user.password!=signup.repassword && !signupForm.repassword.$pristine" class="help-block">Password does not match the confirm password.</p>
        </div>


		    <button type="button" ng-click="signup.signup(signup.user)" ng-disabled="signupForm.$invalid || signup.user.password!=signup.repassword" class="primaryButton" ng-class="{'disabled':signupForm.$invalid || signup.user.password!=signup.repassword }">sign up</button>

      </form>

    </div>
  </div>
</div>
