<div class="page dashboardPage">
    <div class="row">
        <div class="col-md-6">
            <h2>Welcome {{Dashboard.user.fullName}}</h2>
        </div>
        <div class="col-md-6">
            <button type="button" name="button" class="btn btn-danger pull-right" ng-click="Dashboard.logOut()">Log Out</button>
        </div>
    </div>
    <br>

    <div class="container-fluid">
        <div class="row" ng-if="!Dashboard.loading">
            <div class="col-md-4">
                <input type="text" name="name" class="primaryInput" ng-model="Dashboard.search" placeholder="Search...">
            </div>
            <div class="col-md-1">
                <button type="button" name="button" class="btn btn-primary" ng-click="Dashboard.update()" ng-if="!Dashboard.updating">Update Comments</button>
                <button type="button" name="button" class="btn btn-success" ng-click="Dashboard.save()" ng-if="Dashboard.updating">Save</button>
            </div>

        </div>


        <p ng-if="Dashboard.loading">
            Loading...
        </p>

        <my-table headers="Dashboard.headers" fields="Dashboard.fields" data="Dashboard.comments"></my-table>
    </div>
</div>
